@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

:root {
  --background: #F5F5F5;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'Poppins';
}

.pages {
  font-family: 'Poppins';
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 600;
}
